.about-content {
  @include flex(space-between);

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__text {
    flex-basis: 45vw;
    margin-right: 3rem;

    @include respond(tab-port) {
      flex-basis: auto;
      column-count: 2;
      column-gap: 3rem;
      margin-right: 0;
      margin-bottom: 8rem;
    }

    @include respond(phone) {
      column-count: 1;
      column-gap: 0;
      margin-bottom: 6rem;
    }
  }

  &__images {
    flex-basis: 45vw;
    margin-left: 3rem;

    @include respond(tab-port) {
      align-self: center;
      flex-basis: 45rem;
      width: 85vw;
      margin-left: 0;
    }
    @media (max-width: 750px) {
      flex-basis: 42rem;
    }
    @include respond(phone) {
      flex-basis: 38rem;
    }
    @media (max-width: 515px) {
      flex-basis: 35rem;
    }
    @media (max-width: 475px) {
      flex-basis: 33rem;
    }
    @media (max-width: 340px) {
      flex-basis: 30rem;
    }
  }
}

.section-features__wrapper {
  @include flex(space-around);
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-land) {
    flex-wrap: wrap;
    padding: 0 5rem;
  }
}

.cards-wrapper {
  @include flex(space-between);

  @include respond(tab-port) {
    flex-direction: column;
  }
}
