.about-content {
  @include flex(space-between);

  &__text {
    flex-basis: 45vw;
    margin-right: 3rem;

    @include respond(tab-port) {
      flex-basis: auto;
      column-count: 2;
      column-gap: 3rem;
      margin-right: 0;
      margin-bottom: 9rem;
    }

    @include respond(phone) {
      column-count: 1;
      column-gap: 0;
    }
  }

  &__images {
    flex-basis: 45vw;
    margin-left: 3rem;

    @include respond(tab-port) {
      align-self: center;
      width: 75vw;
      margin-left: 0;
    }
  }

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.section-features__wrapper {
  @include flex(space-around);
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-land) {
    padding: 0 4rem;
  }
}

.cards-wrapper {
  @include flex(space-between);
}
