.about-content {
  @include flex(space-between);

  &__text {
    flex-basis: 45vw;
    margin-right: 3rem;
  }

  &__images {
    flex-basis: 45vw;
    margin-left: 3rem;
  }
}

.section-features__wrapper {
  @include flex(space-around);
  max-width: 114rem;
  margin: 0 auto;
}

.cards-wrapper {
  @include flex(space-between);
}