.footer {
  padding: 12rem 0;
  background-color: $color-dark-dark-grey;
  color: $color-white;

  @include respond(tab-port) {
    padding: 9rem 0;
  }

  &__logo-wrapper {
    width: 17rem;
    margin: 0 auto;

    .footer__logo {
      width: 100%;
    }
  }

  &__content-wrapper {
    @include flex(space-between);

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__nav {
    flex-basis: 50%;

    @include respond(tab-port) {
      flex-basis: auto;
      width: 90%;
      text-align: center;
      align-self: center;
      margin-bottom: 6rem;
    }
  }

  &__nav-list {
    list-style: none;
    display: inline-block;
    border-top: 1px solid $color-dark-grey;
  }

  &__nav-element {
    display: inline-block;
    margin-top: 1.5rem;

    &:not(:last-child) {
      margin-right: 1.2rem;
    }
  }

  &__nav-link,
  &__nav-link:link,
  &__nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: $color-white;
    text-transform: uppercase;
    transition: all 0.3s;

    @include respond(tab-port) {
      font-size: 1.5rem;
    }
  }

  &__nav-link:hover {
    color: $mediumgreen;
    background-color: $color-dark-dark-grey;
    transform: rotate(5deg) scale(1.2);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  }

  &__text {
    flex-basis: 40%;
    padding-top: 1.5rem;
    border-top: 1px solid $color-dark-grey;
    font-size: 1.2rem;

    text-align: justify;

    @include respond(tab-port) {
      flex-basis: auto;
      width: 90%;
      text-align: center;
      align-self: center;
      margin: 0 10rem;
      font-size: 1.3rem;
    }
    @include respond(phone-small) {
      margin: 0 5rem;
    }
  }

  &__span {
    display: inline-block;
    font-size: $default-font-size;
    text-transform: uppercase;
    transition: all 0.3s;
    backface-visibility: hidden;

    &:hover {
      color: $mediumgreen;
      background-color: $color-dark-dark-grey;
      transform: rotate(5deg) scale(1.2);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    }
  }
}
